# Daily build and release workflow.

name: build-and-release

on:
  # Runs daily at UTC midnight to minimize risk of overstepping
  # manual builds of same date.
  schedule:
    - cron: "0 0 * * *"

  # Allow manual activations.
  workflow_dispatch:

permissions:
  # Allow release creation
  contents: write

env:
  # -- Set the version of the upstream release.
  # -- See list at https://github.com/chipsalliance/verible/releases
  VERIBLE_RELEASE_TAG: "v0.0-3862-g936dfb1d"

  # -- These are set later
  RELEASE_TAG: ""
  PACKAGE_TAG: ""

jobs:
  # -- Build packages for all supported architectures and
  # -- export them in a release.
  build-and-release:
    runs-on: ubuntu-22.04

    steps:
      # Check out the this repo in the workflow work directory.
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Get release and package tags
        uses: fpgawars/apio-workflows/.github/actions/get-release-and-package-tags@main
        with:
          release-tag-var: RELEASE_TAG
          package-tag-var: PACKAGE_TAG

      # # E.g. "2025-11-02"
      # - name: Determine release tag
      #   run: |
      #     release_tag="$(date +'%Y-%m-%d')"
      #     echo $release_tag
      #     echo "RELEASE_TAG=$release_tag" >> $GITHUB_ENV

      # # E.g. "20251102"
      # - name: Determine package tag
      #   run: |
      #     package_tag="${RELEASE_TAG//-/}"
      #     echo $package_tag
      #     echo "PACKAGE_TAG=$package_tag" >> $GITHUB_ENV

      - name: Ensure no conflicting release
        uses: fpgawars/apio-workflows/.github/actions/ensure-no-conflicting-release@main
        with:
          release-tag: ${{ env.RELEASE_TAG }}

      # - name: Install anti virus (ClamAV)
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y clamav clamav-daemon
      #     sudo systemctl stop clamav-freshclam || true
      #     sudo freshclam --verbose

      # - name: Determine last commit
      #   run: |
      #     commit=$(git rev-parse HEAD)
      #     echo $commit
      #     echo "RELEASE_COMMIT=$commit" >> $GITHUB_ENV

      - name: Get repository commit
        uses: fpgawars/apio-workflows/.github/actions/get-repository-commit@main
        with:
          repo-dir: .
          env-var-name: RELEASE_COMMIT

      - name: Create the build-info.json file
        run: |
          cat > build-info.json <<EOF
          {
            "package-name":  "verible",
            "description" : "Verible tools for Apio",
            "release-tag":  "$RELEASE_TAG",
            "verible-release-tag": "$VERIBLE_RELEASE_TAG",
            "build-repo":  "${{github.repository}}",
            "build-workflow":  "${{ github.workflow }}",
            "workflow-run-id":  "${{github.run_id}}",
            "workflow-run-number": "${{github.run_number}}",
            "build-time":  "$(date +'%Y-%m-%d %H:%M:%S %Z')",
            "commit":  "$RELEASE_COMMIT"
          }
          EOF

          cat -n build-info.json

      # This tool is used also by build.py
      # - name: Format build info
      #   run: |
      #     npm install -g json-align
      #     json-align --in-place --spaces 2 build-info.json
      #     cat -n build-info.json

      - name: Format build info json file in-place
        uses: fpgawars/apio-workflows/.github/actions/format-json-file@main
        with:
          json-file: build-info.json

      - name: Make the build info file read only
        run: |
          chmod 444 build-info.json

      - name: Build package [darwin-arm64]
        run: |
          python .github/workflows/build.py \
              --platform-id darwin-arm64 \
              --build-info-json build-info.json

      - name: Build package [darwin-x86-64]
        run: |
          python .github/workflows/build.py \
              --platform-id darwin-x86-64 \
              --build-info-json build-info.json

      - name: Build package [linux-x86-64]
        run: |
          python .github/workflows/build.py \
              --platform-id linux-x86-64 \
              --build-info-json build-info.json

      - name: Build package [linux-aarch64]
        run: |
          python .github/workflows/build.py \
              --platform-id linux-aarch64 \
              --build-info-json build-info.json

      - name: Build package [windows-amd64]
        run: |
          python .github/workflows/build.py \
              --platform-id windows-amd64 \
              --build-info-json build-info.json

      - name: List packages
        run: |
          ls -al _packages/*

      - name: Prepare release text
        run: |
          cat  > RELEASE_BODY.txt <<EOF
          This is an automated build-and-release.

          Build info:
          \`\`\`
          $(tr -d '",{}' < build-info.json)
          \`\`\`
          EOF

          cat -n $out

      - name: Cleanup old pre-releases
        uses: fpgawars/apio-workflows/.github/actions/cleanup-old-prereleases@main

      # # Delete old pre-releases, keeps all releases.
      # - name: Delete old pre-releases
      #   uses: sgpublic/delete-release-action@v1.2
      #   with:
      #     # Keep all stable releases .
      #     release-drop: false
      #     # Delete old pre-releases, keep the newest 10 (excluding the absolute latest)
      #     pre-release-drop: true
      #     pre-release-keep-count: 5
      #     pre-release-drop-tag: true # Also delete tags of deleted pre-releases
      #     # Keep all drafts.
      #     draft-drop: false
      #   env:
      #     GITHUB_TOKEN: ${{ github.token }}

      # # Scans recursively inside the .tgz packages.
      # # See https://linux.die.net/man/1/clamscan
      # - name: Scan the packages for viruses
      #   run: |
      #     clamscan -r --verbose --scan-archive=yes _packages/apio-verible-*.tgz

      - name: Scan the package for viruses
        uses: fpgawars/apio-workflows/.github/actions/scan-files-for-viruses@main
        with:
          file-patterns: |
            _packages/apio-verible-*.tgz

      - name: Create the Release and upload files
        uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{env.RELEASE_TAG}}
          name: ${{env.RELEASE_TAG}}
          body_path: RELEASE_BODY.txt
          preserve_order: true
          prerelease: true
          fail_on_unmatched_files: true
          files: |
            _packages/apio-verible-darwin-arm64-${{env.PACKAGE_TAG}}.tgz
            _packages/apio-verible-darwin-x86-64-${{env.PACKAGE_TAG}}.tgz
            _packages/apio-verible-linux-x86-64-${{env.PACKAGE_TAG}}.tgz
            _packages/apio-verible-linux-aarch64-${{env.PACKAGE_TAG}}.tgz
            _packages/apio-verible-windows-amd64-${{env.PACKAGE_TAG}}.tgz
